<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Custom Color Presets</key>
	<dict>
		<key>MyProfile</key>
		<dict/>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>D401754A-6C2D-45C0-865A-0070B367B926</string>
	<key>EnableDivisionView</key>
	<false/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>Hotkey</key>
	<false/>
	<key>HotkeyChar</key>
	<integer>0</integer>
	<key>HotkeyCode</key>
	<integer>0</integer>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyModifiers</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.11764705926179886</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.098039217293262482</real>
				<key>Red Component</key>
				<real>0.078431375324726105</real>
			</dict>
			<key>Ansi 0 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 0 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.16300037503242493</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.23660069704055786</real>
				<key>Red Component</key>
				<real>0.7074432373046875</real>
			</dict>
			<key>Ansi 1 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.88235294117647056</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.8901960784313725</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.09916398674249649</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.19041210412979126</real>
				<key>Red Component</key>
				<real>0.72474533319473267</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.56541937589645386</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9042816162109375</real>
				<key>Red Component</key>
				<real>0.3450070321559906</real>
			</dict>
			<key>Ansi 10 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.47975778579711914</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.96734005212783813</real>
				<key>Red Component</key>
				<real>0.55109566450119019</real>
			</dict>
			<key>Ansi 10 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.47975778579711914</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.96734005212783813</real>
				<key>Red Component</key>
				<real>0.55109566450119019</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.8833775520324707</real>
				<key>Red Component</key>
				<real>0.9259033203125</real>
			</dict>
			<key>Ansi 11 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.496368408203125</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.98795753717422485</real>
				<key>Red Component</key>
				<real>0.99739068746566772</real>
			</dict>
			<key>Ansi 11 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.496368408203125</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.98795753717422485</real>
				<key>Red Component</key>
				<real>0.99739068746566772</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.9485321044921875</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.67044717073440552</real>
				<key>Red Component</key>
				<real>0.65349078178405762</real>
			</dict>
			<key>Ansi 12 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96741563081741333</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.443401038646698</real>
				<key>Red Component</key>
				<real>0.41563558578491211</real>
			</dict>
			<key>Ansi 12 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96741563081741333</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.443401038646698</real>
				<key>Red Component</key>
				<real>0.41563558578491211</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.8821563720703125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.4927266538143158</real>
				<key>Red Component</key>
				<real>0.8821563720703125</real>
			</dict>
			<key>Ansi 13 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.89803921568627454</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.89803921568627454</real>
			</dict>
			<key>Ansi 13 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.75069838762283325</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.14295598864555359</real>
				<key>Red Component</key>
				<real>0.049945145845413208</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.99263292551040649</real>
				<key>Red Component</key>
				<real>0.37597531080245972</real>
			</dict>
			<key>Ansi 14 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99341541528701782</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.97971898317337036</real>
				<key>Red Component</key>
				<real>0.55671864748001099</real>
			</dict>
			<key>Ansi 14 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99341541528701782</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.97971898317337036</real>
				<key>Red Component</key>
				<real>0.55671864748001099</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999600648880005</real>
			</dict>
			<key>Ansi 15 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Ansi 15 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.7607843279838562</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 2 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.64543825387954712</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.95349091291427612</real>
				<key>Red Component</key>
				<real>0.60439246892929077</real>
			</dict>
			<key>Ansi 2 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.21573609113693237</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.75062829256057739</real>
				<key>Red Component</key>
				<real>0.32040977478027344</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.76959484815597534</real>
				<key>Red Component</key>
				<real>0.78058648109436035</real>
			</dict>
			<key>Ansi 3 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.074509803921568626</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.88235294117647056</real>
				<key>Red Component</key>
				<real>0.67450980392156867</real>
			</dict>
			<key>Ansi 3 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.24299025535583496</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.76967424154281616</real>
				<key>Red Component</key>
				<real>0.77835863828659058</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78216177225112915</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.26474356651306152</real>
				<key>Red Component</key>
				<real>0.15404300391674042</real>
			</dict>
			<key>Ansi 4 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73606246709823608</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.60036259889602661</real>
				<key>Red Component</key>
				<real>0.3707490861415863</real>
			</dict>
			<key>Ansi 4 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.75069838762283325</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.14295598864555359</real>
				<key>Red Component</key>
				<real>0.049945145845413208</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.74494361877441406</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.24931684136390686</real>
				<key>Red Component</key>
				<real>0.752197265625</real>
			</dict>
			<key>Ansi 5 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.86201518774032593</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.32239407300949097</real>
				<key>Red Component</key>
				<real>0.78640848398208618</real>
			</dict>
			<key>Ansi 5 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7570069432258606</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.2432720959186554</real>
				<key>Red Component</key>
				<real>0.72737771272659302</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78166204690933228</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.77425903081893921</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 6 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77470105886459351</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.76207447052001953</real>
				<key>Red Component</key>
				<real>0.32765328884124756</real>
			</dict>
			<key>Ansi 6 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.77470105886459351</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.76207447052001953</real>
				<key>Red Component</key>
				<real>0.32765328884124756</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.78104829788208008</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.78105825185775757</real>
				<key>Red Component</key>
				<real>0.7810397744178772</real>
			</dict>
			<key>Ansi 7 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.019607843137254902</real>
				<key>Red Component</key>
				<real>0.43529411764705883</real>
			</dict>
			<key>Ansi 7 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7807578444480896</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.7807578444480896</real>
				<key>Red Component</key>
				<real>0.78075778484344482</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.4078223705291748</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40782788395881653</real>
				<key>Red Component</key>
				<real>0.40781760215759277</real>
			</dict>
			<key>Ansi 8 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40747225284576416</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.40747219324111938</real>
				<key>Red Component</key>
				<real>0.40747219324111938</real>
			</dict>
			<key>Ansi 8 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.40747225284576416</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.40747219324111938</real>
				<key>Red Component</key>
				<real>0.40747219324111938</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.45833224058151245</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.47524076700210571</real>
				<key>Red Component</key>
				<real>0.8659515380859375</real>
			</dict>
			<key>Ansi 9 Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.42765229940414429</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.4657326340675354</real>
				<key>Red Component</key>
				<real>0.93948507308959961</real>
			</dict>
			<key>Ansi 9 Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.42765229940414429</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.4657326340675354</real>
				<key>Red Component</key>
				<real>0.93948507308959961</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.97999999999999998</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.97999999999999998</real>
				<key>Red Component</key>
				<real>0.97999999999999998</real>
			</dict>
			<key>Background Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.12237038463354111</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.010720723308622837</real>
				<key>Red Component</key>
				<real>0.069762378931045532</real>
			</dict>
			<key>Background Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.11610633134841919</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.11610633134841919</real>
				<key>Red Component</key>
				<real>0.74613857269287109</real>
			</dict>
			<key>Badge Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.13960540294647217</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25479039549827576</real>
				<key>Red Component</key>
				<real>0.92929404973983765</real>
			</dict>
			<key>Badge Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.13960540294647217</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25479039549827576</real>
				<key>Red Component</key>
				<real>0.92929404973983765</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Blur Radius</key>
			<real>0.10000000000000001</real>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.062745101749897003</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.062745101749897003</real>
				<key>Red Component</key>
				<real>0.062745101749897003</real>
			</dict>
			<key>Bold Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.38823529411764707</real>
				<key>Red Component</key>
				<real>0.64313725490196083</real>
			</dict>
			<key>Bold Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Brighten Bold Text (Dark)</key>
			<true/>
			<key>Brighten Bold Text (Light)</key>
			<true/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost (Dark)</key>
			<real>0.0</real>
			<key>Cursor Boost (Light)</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Cursor Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.69019607843137254</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.094117647058823528</real>
				<key>Red Component</key>
				<real>0.55294117647058827</real>
			</dict>
			<key>Cursor Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7807578444480896</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.7807578444480896</real>
				<key>Red Component</key>
				<real>0.78075778484344482</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.85319280624389648</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.77217715978622437</real>
				<key>Red Component</key>
				<real>0.52338260412216187</real>
			</dict>
			<key>Cursor Guide Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99125725030899048</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862593412399292</real>
			</dict>
			<key>Cursor Guide Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99125725030899048</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92047786712646484</real>
				<key>Red Component</key>
				<real>0.74862593412399292</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Text Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Cursor Text Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Faint Text Alpha (Dark)</key>
			<real>0.5</real>
			<key>Faint Text Alpha (Light)</key>
			<real>0.5</real>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.062745101749897003</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.062745101749897003</real>
				<key>Red Component</key>
				<real>0.062745101749897003</real>
			</dict>
			<key>Foreground Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70681512355804443</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.3586653470993042</real>
				<key>Red Component</key>
				<real>0.48900634050369263</real>
			</dict>
			<key>Foreground Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7807578444480896</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.7807578444480896</real>
				<key>Red Component</key>
				<real>0.78075778484344482</real>
			</dict>
			<key>Guid</key>
			<string>D401754A-6C2D-45C0-865A-0070B367B926</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.9337158203125</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.55789834260940552</real>
				<key>Red Component</key>
				<real>0.19802422821521759</real>
			</dict>
			<key>Link Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.74901960784313726</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.14117647058823529</real>
				<key>Red Component</key>
				<real>0.047058823529411764</real>
			</dict>
			<key>Link Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7093239426612854</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.35333043336868286</real>
				<key>Red Component</key>
				<real>0.14513972401618958</real>
			</dict>
			<key>Match Background Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Match Background Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Minimum Contrast (Dark)</key>
			<real>0.0</real>
			<key>Minimum Contrast (Light)</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>RobotoMono-Regular 16</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selected Text Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selected Text Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84313726425170898</real>
				<key>Red Component</key>
				<real>0.70196080207824707</real>
			</dict>
			<key>Selection Color (Dark)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.4392156862745098</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.33725490196078434</real>
				<key>Red Component</key>
				<real>0.4392156862745098</real>
			</dict>
			<key>Selection Color (Light)</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.98825246095657349</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.86601698398590088</real>
				<key>Red Component</key>
				<real>0.77888357639312744</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color (Dark)</key>
			<false/>
			<key>Smart Cursor Color (Light)</key>
			<false/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.08780691964285714</real>
			<key>Unicode Version</key>
			<integer>9</integer>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Bright Bold (Dark)</key>
			<true/>
			<key>Use Bright Bold (Light)</key>
			<true/>
			<key>Use Cursor Guide (Dark)</key>
			<false/>
			<key>Use Cursor Guide (Light)</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Selected Text Color (Dark)</key>
			<true/>
			<key>Use Selected Text Color (Light)</key>
			<true/>
			<key>Use Separate Colors for Light and Dark Mode</key>
			<true/>
			<key>Use Tab Color (Dark)</key>
			<false/>
			<key>Use Tab Color (Light)</key>
			<false/>
			<key>Use Underline Color (Dark)</key>
			<false/>
			<key>Use Underline Color (Light)</key>
			<false/>
			<key>UseBackgroundColorForWindow</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>SoundForEsc</key>
	<false/>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
